<section class="section-about" id="about">
  <div class="about-item container">
    <div class="container-text">
      <p class="container-item">
        <span class="text-decorative">Yacht Adventure </span>fleet is here to
        take you on the ultimate adventure. Each yacht is hand-picked for its
        comfort, style, and performance.
      </p>
    </div>
    <ul class="item-list">
      <li class="item-text">
        <p class="text">
          From spacious decks to state-of-the-art technology, our yachts are
          designed to provide the perfect blend of luxury and functionality.
          Take a look at our selection below and choose the yacht that matches
          your needs and preferences.
        </p>
      </li>
      <li class="item-text">
        <p class="text">
          No matter which yacht you choose, our experienced crew will ensure
          that your journey is smooth and enjoyable. Book now and get ready for
          an unforgettable adventure on the high seas.
        </p>
      </li>
    </ul>
  </div>

  <div class="about-img container">
    <ul class="about-img-list">
      <li class="section-img yacht-1">
        <picture>
          
          <source media="(min-width:1280px)" srcset="./img/about/about-img-2@1x.png,
            ./img/about/about-img-2@2x.png
            " type="img/png">
       
          
          <source media="(min-width:768px)" srcset="./img/about/about-img-2@1x.png,
            ./img/about/about-img-2@2x.png"
          type="img/png">
       
          
           <source media="(max-width:768px)" srcset="./img/about/about-img-2@1x.png,
            ./img/about/about-img-2@2x.png"
          type="img/png">
          <img
          
          src="./img/about/about-img-2@1x.png"
          alt="picture-2"
          width="704px"
          height="631px"
        />
        </picture>
      </li>
      <li class="section-img yacht-2">
        <picture>
         
          <source media="(min-width:1280px)" srcset=" ./img/about/about-img-1@1x.png,
            ./img/about/about-img-1@2x.png
            " type="img/png">
          
          
          <source media="(min-width:768px)" srcset=" ./img/about/about-img-1@1x.png,
            ./img/about/about-img-1@2x.png"
          type="img/png">
         
          
           <source media="(max-width:768px)" srcset=" ./img/about/about-img-1@1x.png,
            ./img/about/about-img-1@2x.png"
          type="img/png">
          <img
          
          src=""
          alt="picture-2"
          width="335px"
          height="289px"
        />
        </picture>
        
         <picture>
          <source media="(min-width:1280px)" srcset="./img/about/about-img-3@1x.png,
            ./img/about/about-img-3@2x.png
            " type="img/webp">
          <source media="(min-width:1280px)" srcset="./img/about/about-img-3@1x.png,
            ./img/about/about-img-3@2x.png
            " type="img/png">
         
          <source media="(min-width:768px)" srcset="./img/about/about-img-3@1x.png,
            ./img/about/about-img-3@2x.png"
          type="img/webp">
          <source media="(min-width:768px)" srcset="./img/about/about-img-3@1x.png,
            ./img/about/about-img-3@2x.png"
          type="img/png">
        
          <source media="(max-width:768px)" srcset="./img/about/about-img-3@1x.png,
            ./img/about/about-img-3@2x.png"
          type="img/webp">
           <source media="(max-width:768px)" srcset="./img/about/about-img-3@1x.png,
            ./img/about/about-img-3@2x.png"
          type="img/png">
          <img
          
          src="./img/about/about-img-2@1x.png"
          alt="picture-2"
          width="533px"
          height="473px"
        />
      </li>
      </div>
      <div class="img-1">
         <li class="section-img yacht-2">
        <img
          srcset="
            ./img/about/about-img-1@1x.png,
            ./img/about/about-img-1@2x.png
          "
          src="./img/about/about-img-1@1x.png"
          alt="picture-1"
          width="308px"
          height="289px"
        />
      </li>
      </div>
      <div class="img-3">
        <li class="section-img yacht-3">
        <img
          srcset="
            ./img/about/about-img-3@1x.png,
            ./img/about/about-img-3@2x.png
          "
          src="./img/about/about-img-3@1x.png"
          alt="picture-3"
          width="260px"
          height="244"
        />
      </li> 
        -->
      </li>
    </ul>
  </div>
</section>
