<footer class="footer container">
    <div class="footer-box">
        <div class="footer-menu">
            <a class="footer-logo" href="#">
                <img src="./img/logo.svg" alt="Yacht Adventures" width="23" height="23" title="Site Yacht Adventures">
                <span class="footer-logo-name">Yacht Adventures</span>
            </a>
            <nav>
                <ul class="footer-list">
                    <li class="footer-list-li">
                        <a href="#" class="footer-list-link">About</a>
                    </li>
                    <li class="footer-list-li">
                        <a href="#" class="footer-list-link">Yachts</a>
                    </li>
                    <li class="footer-list-li">
                        <a href="#" class="footer-list-link">Reviews</a>
                    </li>
                </ul>
            </nav>
            <div class="footer-soc">
                <h2 class="footer-head-soc">
                    We in social
                </h2>
                <ul class="footer-soc-list">
                    <li class="footer-social-item">
                        <a href="https://www.facebook.com/" target="_blank" class="footer-social-link" title="facebook.com" alt="facebook">
                            <svg class="footer-social-icon" width="16" height="16">
                                <use href="./img/icons.svg#facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-social-item">
                        <a href="https://www.instagram.com/" target="_blank" class="footer-social-link" title="instagram.com" alt="instagram">
                            <svg class="footer-social-icon" width="16" height="16">
                                <use href="./img/icons.svg#instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-social-item">
                        <a href="https://www.youtube.com/" target="_blank" class="footer-social-link" title="youtube.com" alt="youtube">
                            <svg class="footer-social-icon" width="16" height="16">
                                <use href="./img/icons.svg#youtube"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-text-box">
            <p class="footer-text">2023. Yacht Adventures</p>
            <p class="footer-text">Privacy Police</p>
        </div>
    </div>
    <div class="go-top">
        <svg class="but-arrow" width="30" height="30">
            <use href="./img/icons.svg#arrow-up"></use>
        </svg>
    </div>
    <div class="ellipse-footer7268"></div>
    <div class="ellipse-footer7270"></div>
</footer>