<header class="page-header">
    <div class="container header-container">
        <a class="header-logo" href="">
            <img src="./img/logo.svg" alt="Yacht Adventures" width="23" height="23" title="Site Yacht Adventures">
            <span class="header-logo-name">Yacht Adventures</span>
            
        </a>
    
    

        <nav class="navigation">
            
            <ul class="navigation-list">    
                <li class="navigation-item">
                    <a class="navigation-link" href="#About">About</a>

                </li>
                <li class="navigation-item">
                    <a class="navigation-link" href="#Yachts">Yachts</a>

                </li>
                <li class="navigation-item">
                    <a class="navigation-link" href="#Reviews">Reviews</a>

                </li>
            </ul>
            

        </nav>
   
    </div>

</header>
