<header class="page-header">
  <div class="container header-container">
    <a class="header-logo" href="">
      <picture>
        <source srcset="./img/logo-mob.svg" media="(width=767px)" />
        <source srcset="./img/logo.svg" media="(width=768px)" />

        <img
          class="logo-yacht"
          src="./img/logo-img.png"
          alt="Yacht Adventures"
          width="18"
          height="18"
          title="Site Yacht Adventures"
        />
      </picture>

      <span class="header-logo-name">Yacht Adventures</span>
    </a>

    <nav class="navigation">
      <ul class="navigation-list">
        <li class="navigation-item">
          <a class="navigation-link" href="#about">About</a>
        </li>
        <li class="navigation-item">
          <a class="navigation-link" href="#yachts">Yachts</a>
        </li>
        <li class="navigation-item">
          <a class="navigation-link" href="#reviews">Reviews</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="open-menu-btn" data-menu-open>
      <svg width="24" height="24">
        <use href="./img/icons.svg#menu-icon"></use>
      </svg>
    </button>
  </div>

  <div class="menu-data-mobile is-hidden" data-menu>
    <div class="menu-cont">
      <a class="header-logo" href="">
        <picture>
          <source srcset="./img/logo-mob.svg" media="(width=767px)" />
          <source srcset="./img/logo.svg" media="(width=768px)" />

          <img
            src="./img/logo-img.png"
            alt="Yacht Adventures"
            width="18"
            height="18"
            title="Site Yacht Adventures"
          />
        </picture>

        <span class="header-logo-name">Yacht Adventures</span>
      </a>
      <button type="button" class="btn-menu-close" data-menu-close>
        <svg width="24" height="24">
          <use href="./img/icons.svg#icon-close"></use>
        </svg>
      </button>
    </div>
    <nav class="navigations">
      <ul class="navigations-list">
        <li class="navigations-item">
          <a class="navigations-link" href="#about">About</a>
        </li>
        <li class="navigations-item">
          <a class="navigations-link" href="#yachts">Yachts</a>
        </li>
        <li class="navigations-item">
          <a class="navigations-link" href="#reviews">Reviews</a>
        </li>
      </ul>
    </nav>
    <div class="circle"></div>
    <div class="circles"></div>
  </div>
</header>
