<section class="page-hero">
  <div class="container">

    <div class="hero-container">

    <div>

      <h1 class="hero-title">
        Explore the High Seas with
        <span class="hero-gradient">Our Luxury Yacht</span> Rentals
      </h1>
      <p class="hero-subtitle">
        Experience the freedom and luxury of yachting on the open seas. Choose
        from our top-of-the-line yachts and embark on an unforgettable journey
        surrounded by breathtaking views and state-of-the-art amenities.
      </p>
      <div class="hero-btn-wrapper">
        <button type="button" class="hero-start-btn">Get Started</button>
        <button type="button" class="hero-explore-btn">Explore</button>
      </div>
    </div>
    <div class="hero-pictures-wrapper"></div>
  </div>
</section>
