<section class="page-hero">
  <div class="container">
    <div class="hero-container">
      <div class="hero-text-wrapper">
        <h1 class="hero-title">
          Explore the High Seas with
          <span class="hero-gradient">Our Luxury Yacht</span> Rentals
        </h1>
        <p class="hero-subtitle">
          Experience the freedom and luxury of yachting on the open seas. Choose
          from our top-of-the-line yachts and embark on an unforgettable journey
          surrounded by breathtaking views and state-of-the-art amenities.
        </p>
        <div class="hero-btn-wrapper">
          <button type="button" class="hero-start-btn">Get Started</button>
          <a href="#services" class="hero-explore-btn">Explore</a>
        </div>
      </div>
      <div class="hero-pictures-box">
        <div class="hero-clients-box">
          <ul class="hero-clients-list">
            <li class="hero-clients-item">
              <picture>
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/hero/tablet-img-1@1x.png  1x,
                    ./img//hero/tablet-img-1@2x.png 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/hero/mobile-img-1@1x.png 1x,
                    ./img/hero/mobile-img-1@2x.png 2x
                  "
                  type="image/jpg"
                />

                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./img/hero/mobile-img-1@1x.png 1x,
                    ./img/hero/mobile-img-1@2x.png 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./img/hero/mobile-img-1@1x.png 1x,
                    ./img/hero/mobile-img-1@2x.png 2x
                  "
                  type="image/jpg"
                />
                <img
                  class="clients-img"
                  src="./img/hero/hero-img-1@1x.png"
                  alt="John"
                  width="56"
                  height="56"
                  loading="lazy"
                />
              </picture>
            </li>

            <li class="hero-clients-item">
              <picture>
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/hero/tablet-img-2@1x.png  1x,
                    ./img//hero/tablet-img-2@2x.png 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/hero/mobile-img-2@1x.png 1x,
                    ./img/hero/mobile-img-2@2x.png 2x
                  "
                  type="image/jpg"
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./img/hero/mobile-img-2@1x.png 1x,
                    ./img/hero/mobile-img-2@2x.png 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./img/hero/mobile-img-2@1x.png 1x,
                    ./img/hero/mobile-img-2@2x.png 2x
                  "
                  type="image/jpg"
                />
                <img
                  class="clients-img"
                  src="./img/hero/hero-img-2@1x.png"
                  alt="Victoria"
                  width="56"
                  height="56"
                  loading="lazy"
                />
              </picture>
            </li>
            <li class="hero-clients-item">
              <picture>
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/hero/tablet-img-3@1x.png  1x,
                    ./img//hero/tablet-img-3@2x.png 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/hero/mobile-img-3@1x.png 1x,
                    ./img/hero/mobile-img-3@2x.png 2x
                  "
                  type="image/jpg"
                />

                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./img/hero/mobile-img-3@1x.png 1x,
                    ./img/hero/mobile-img-3@2x.png 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./img/hero/mobile-img-3@1x.png 1x,
                    ./img/hero/mobile-img-3@2x.png 2x
                  "
                  type="image/jpg"
                />
                <img
                  class="clients-img"
                  src="./img/hero/hero-img-3@1x.png"
                  alt="Ihor"
                  width="56"
                  height="56"
                  loading="lazy"
                />
              </picture>
            </li>
          </ul>
          <p class="hero-client-title">Our clients</p>
        </div>
        <div class="hero-ceo">
          <img
            class="hero-ceo-image"
            src="./img/hero/hero-img-4@1x.png"
            srcset="
              ./img/hero/hero-img-4@1x.png 1x,
              ./img/hero/hero-img-4@2x.png 2x
            "
            alt="CEO"
            width="133"
            height="133"
            loading="lazy"
          />
        </div>
        <div class="hero-yaht">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/hero/tablet-yaht-img@1x.png 1x,
                ./img/hero/tablet-yaht-img@2x.png 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/hero/tablet-yaht-img@1x.png 1x,
                ./img/hero/tablet-yaht-img@2x.png 2x
              "
              type="image/jpg"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./img/hero/mobile-yaht-img@1x.png 1x,
                ./img/hero/mobile-yaht-img@2x.png 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/hero/mobile-yaht-img@1x.png 1x,
                ./img/hero/mobile-yaht-img@2x.png 2x
              "
              type="image/jpg"
            />
            <img
              class="hero-yaht-image"
              src="./img/hero/hero-yaht-img@1x.png"
              alt="Yaht"
              width="378"
              height="221"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="hero-promotion">
          <p class="hero-price">$12M</p>
          <p class="hero-booking">
            Book now and make your dream yacht rental a reality
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
