
<div class="backdrop is-hidden" data-modal>
  <div class="modal container">
    <button class="modal-btn" type="button" data-modal-close>
      <svg class="modal-icon" width="24" height="24">
        <use href="./img/icons.svg#x-close"></use>
      </svg>
    </button>
    <div class="modal-yaht">
        <img
          class="modal-imig"
          src="./img/hero/hero-yaht-img@1x.png"
          srcset="./img/hero/hero-yaht-img@1x.png, ./img/hero/hero-yaht-img@2x.png"
          alt="yaht"
          width="287"
          height="149"
        />
      </picture>
    </div>

    <div class="modal-elips"></div>

    <div class="modal-content">
      <h3 class="modal-title">Thank you</h3>
      <p class="modal-text">
        Thank you for choosing Yacht Adventures, your booking details have been
        received and our team will be in touch shortly to confirm your
        reservation and provide any additional information or assistance you may
        need.
      </p>
    </div>
  </div>
</div>
