<div class="container reviews-section">
  <div class="reviews-box">
    <h3 class="reviews-title" id="reviews">
      <span class="yacht-title-item">Yacht Adventures</span>
      take pride in providing the best possible service and experience to our
      customers
    </h3>
    <p class="reviews-page">
      Our customers have enjoyed unforgettable moments on our yachts. Don't just
      take our word for it - read on to find out what they have to say about
      their journey with us.
    </p>
  </div>

  <ul class="reviews-block">
    <li class="reviews-item john-item">
      <img
        srcset="
          ./img/reviews/reviews-img-1@1x.png 1x,
          ./img/reviews/reviews-img-1@2x.png 2x
        "
        src="./img/reviews/reviews-img-1@1x.png"
        alt="John Wax"
        width="56"
        class="reviews-img"
      />
      <h4 class="reviews-subtitle">John Wax</h4>
      <p class="reviews-text">
        I rented the Lagoon 620 with my family for a week-long vacation and it
        was the best decision ever. The yacht was spacious, comfortable, and
        luxurious, and the crew took care of everything.
      </p>
    </li>
    <li class="reviews-item victoria-item">
      <img
        srcset="
          ./img/reviews/reviews-img-2@1x.png 1x,
          ./img/reviews/reviews-img-2@2x.png 2x
        "
        src="./img/reviews/reviews-img-2@1x.png"
        alt="Victoria Romashenko"
        width="56"
        class="reviews-img"
      />
      <h4 class="reviews-subtitle">Victoria Romashenko</h4>
      <p class="reviews-text">
        The Sunseeker Manhattan 66 was the perfect choice for our romantic
        getaway. The yacht was beautifully designed, with all the amenities we
        needed, and the crew was attentive and friendly.
      </p>
    </li>
    <li class="reviews-item igor-item">
      <img
        srcset="
          ./img/reviews/reviews-img-3@1x.png 1x,
          ./img/reviews/reviews-img-3@2x.png 2x
        "
        src="./img/reviews/reviews-img-3@1x.png"
        alt="Ihor Trachuk"
        width="56"
        class="reviews-img"
      />
      <h4 class="reviews-subtitle">Ihor Trachuk</h4>
      <p class="reviews-text">
        The Azimut 80 was the most luxurious yacht I've ever been on. The cabins
        were spacious and elegant, and the outdoor areas were perfect for
        relaxing and entertaining. Worth every penny!
      </p>
    </li>
  </ul>
</div>
