<section class="services-section">
    <div class="services-container container">
        <ul class="services-list">
            <li class="services-item diving">
                <img class="services-img"
                src="../img/services/services-img-1@1x.png" 
                srcset="
                ../img/services/services-img-1@1x.png 1x,
                ../img/services/services-img-1@2x.png 2x
                "
                alt="Diving"
                width="712"
                height="632">
                <button class="services-btn">Diving</button>
            </li>
            <li class="services-item fishing">
                <img class="services-img"
                src="../img/services/services-img-2@1x.png" 
                srcset="
                ../img/services/services-img-2@1x.png 1x,
                ../img/services/services-img-2@2x.png 2x
                "
                alt="Fishing"
                width="440"
                height="428">
                <button class="services-btn">Fishing</button>
            </li>
            <li class="services-item sunbathing">
                <img class="services-img"
                src="../img/services/services-img-3@1x.png" 
                srcset="
                ../img/services/services-img-3@1x.png 1x,
                ../img/services/services-img-3@2x.png 2x
                "
                alt="Sunbathing"
                width="436"
                height="352">
                <button class="services-btn sunbathing-btn">Sunbathing</button>
            </li>
        </ul>
    </div>
</section>