<section class="yachts">
    <div class="container">
    <div class="yachts-header">
        <div class="text-container">
      <h2 class="yachts-text" id="yachts">Choose your dream yacht and sail away into the sunset</h2>  
      </div>
      <div class="yacht-button"><a href="#rent"><p class="button-text">Yacht rental</p></a></div>
      </div>

      <!-- SLIDER -->        
      <div class="swiper">
  
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">

      <div class="slider">
        <ul class="yachts-list">
    <li><div class="yacht"> 
        <div class="picture"><img srcset="./img/yachts/yachts-img-1@1x.png 1x, ./img/yachts/yachts-img-1@2x.png 2x" src="./img/yachts/yachts-img-1@1x.png" alt="ARROW" width="322" height="268"></div>
        <div class="name-type"> 
        <p class="name">ARROW</p>
        <p class="yacht-type">LUXURY YAHTS</p>
        </div>
        <div class="charact">
    <div class="charact1">
        <ul>
            <li><p class="pharagraf">LENGTH</p></li>
            <li><p class="pharagraf">BUILDER</p></li>
            <li><p class="pharagraf">BUILT</p></li>
            <li><p class="pharagraf">GUESTS</p></li>
            <li><p class="pharagraf">PRICE</p></li>
        </ul>
        </div>
    <div class="charact2">
        <ul>
            <li><p class="pharagraf">48m(155ft)</p></li>
            <li><p class="pharagraf">Admiral</p></li>
            <li><p class="pharagraf">2021</p></li>
            <li><p class="pharagraf">11 in 5 cabins</p></li>
            <li><p class="pharagraf">€33,500,000</p></li>
        </ul>
        </div>
    </div>
        </div></li>
    <li><div class="yacht">
        <div class="picture"><img srcset="./img/yachts/yachts-img-2@1x.png 1x, ./img/yachts/yachts-img-2@2x.png 2x" src="./img/yachts/yachts-img-2@1x.png" alt="BENETTI OASIS 40M BO122" width="322" height="268"></div>
        <div class="name-type">
        <p class="name">BENETTI OASIS 40M BO122</p>
        <p class="yacht-type">LUXURY YAHTS</p>
    </div>
    <div class="charact">
    <div class="charact1">
        <ul>
            <li><p class="pharagraf">LENGTH</p></li>
            <li><p class="pharagraf">SHIPYARD</p></li>
            <li><p class="pharagraf">BUILT</p></li>
            <li><p class="pharagraf">GUESTS</p></li>
            <li><p class="pharagraf">PRICE</p></li>
        </ul>
    </div>
    <div class="charact2">
        <ul>
            <li><p class="pharagraf">41m (133ft)</p></li>
            <li><p class="pharagraf">Benetti</p></li>
            <li><p class="pharagraf">2025</p></li>
            <li><p class="pharagraf">10 in 5 cabins</p></li>
            <li><p class="pharagraf">€23,210,000</p></li>
        </ul>
    </div>
</div>
    </div></li>
    <li><div class="yacht">
        <div class="picture"><img srcset="./img/yachts/yachts-img-3@1x.png 1x, ./img/yachts/yachts-img-3@2x.png 2x" src="./img/yachts/yachts-img-3@1x.png" alt="BELLE ANNA" width="322" height="268"></div>
        <div class="name-type">
        <p class="name">BELLE ANNA</p>
        <p class="yacht-type">LUXURY YAHTS</p>
    </div>
    <div class="charact">
    <div class="charact1">
        <ul>
            <li><p class="pharagraf">LENGTH</p></li>
            <li><p class="pharagraf">SHIPYARD</p></li>
            <li><p class="pharagraf">BUILT</p></li>
            <li><p class="pharagraf">GUESTS</p></li>
            <li><p class="pharagraf">PRICE</p></li>
        </ul>
    </div>
    <div class="charact2">
        <ul>
            <li><p class="pharagraf">50m(155ft)</p></li>
            <li><p class="pharagraf">ISA</p></li>
            <li><p class="pharagraf">2012</p></li>
            <li><p class="pharagraf">12 in 6 cabins</p></li>
            <li><p class="pharagraf">€21,000,000</p></li>
        </ul>
    </div>
</div>
    </div></li>
    <li><div class="yacht">
        <div class="picture"><img srcset="./img/yachts/yachts-img-4@1x.png 1x, ./img/yachts/yachts-img-4@2x.png 2x" src="./img/yachts/yachts-img-4@1x.png" alt="ELLEN" width="322" height="268"></div>
        <div class="name-type">
        <p class="name">ELLEN</p>
        <p class="yacht-type">LUXURY YAHTS</p>
    </div>
    <div class="charact">
    <div class="charact1">
        <ul>
            <li><p class="pharagraf">LENGTH</p></li>
            <li><p class="pharagraf">SHIPYARD</p></li>
            <li><p class="pharagraf">BUILT</p></li>
            <li><p class="pharagraf">GUESTS</p></li>
            <li><p class="pharagraf">PRICE</p></li>
        </ul>
    </div>
    <div class="charact2">
        <ul>
            <li><p class="pharagraf">40m (132ft)</p></li>
            <li><p class="pharagraf">Perini Navi</p></li>
            <li><p class="pharagraf">2001 / 2016 (refitted)</p></li>
            <li><p class="pharagraf">9 in 4 cabins</p></li>
            <li><p class="pharagraf">€9,300,000</p></li>
        </ul>
    </div>
</div>
    </div></li>
    <li><div class="yacht">
        <div class="picture"><img srcset="./img/yachts/yachts-img-5@1x.png 1x, ./img/yachts/yachts-img-5@2x.png 2x" src="./img/yachts/yachts-img-5@1x.png" alt="MIRAGE 401" width="322" height="268"></div>
     <div class="name-type">
        <p class="name">MIRAGE 401</p>
        <p class="yacht-type">LUXURY YAHTS</p>
    </div>
    <div class="charact">
    <div class="charact1">
        <ul>
            <li><p class="pharagraf">LENGTH</p></li>
            <li><p class="pharagraf">SHIPYARD</p></li>
            <li><p class="pharagraf">BUILT</p></li>
            <li><p class="pharagraf">GUESTS</p></li>
            <li><p class="pharagraf">PRICE</p></li>
        </ul>
    </div>
    <div class="charact2">
        <ul>
            <li><p class="pharagraf">38m (125ft)</p></li>
            <li><p class="pharagraf">Gianetti Custom Yachts</p></li>
            <li><p class="pharagraf">2024</p></li>
            <li><p class="pharagraf">10 in 5 cabins</p></li>
            <li><p class="pharagraf">€13,500,000</p></li>
        </ul>
    </div>
</div>
    </div></li>
    <li><div class="yacht">
        <div class="picture"><img srcset="./img/yachts/yachts-img-6@1x.png 1x, ./img/yachts/yachts-img-6@2x.png 2x" src="./img/yachts/yachts-img-6@1x.png" alt="KING" width="322" height="268"></div>
        <div class="name-type">
        <p class="name">KING</p>
        <p class="yacht-type">LUXURY YAHTS</p>
    </div>
    <div class="charact">
    <div class="charact1">
        <ul>
            <li><p class="pharagraf">LENGTH</p></li>
            <li><p class="pharagraf">SHIPYARD</p></li>
            <li><p class="pharagraf">BUILT</p></li>
            <li><p class="pharagraf">GUESTS</p></li>
            <li><p class="pharagraf">PRICE</p></li>
        </ul>
    </div>
    <div class="charact2">
        <ul>
            <li><p class="pharagraf">33m (109ft)</p></li>
            <li><p class="pharagraf">Overmarine</p></li>
            <li><p class="pharagraf">2004 / 2018 (refitted)</p></li>
            <li><p class="pharagraf">9 in 4 cabins</p></li>
            <li><p class="pharagraf">€1,850,000</p></li>
        </ul>
    </div>
</div>
    </div></li>
    <li><div class="yacht">
        <div class="picture"><img srcset="./img/yachts/yachts-img-7@1x.png 1x, ./img/yachts/yachts-img-7@2x.png 2x" src="./img/yachts/yachts-img-7@1x.png" alt="SALT" width="322" height="268"></div>
        <div class="name-type">
        <p class="name">SALT</p>
        <p class="yacht-type">LUXURY YAHTS</p>
    </div>
    <div class="charact">
    <div class="charact1">
        <ul>
            <li><p class="pharagraf">LENGTH</p></li>
            <li><p class="pharagraf">BUILDER</p></li>
            <li><p class="pharagraf">BUILT</p></li>
            <li><p class="pharagraf">GUESTS</p></li>
            <li><p class="pharagraf">PRICE</p></li>
        </ul>
    </div>
    <div class="charact2">
        <ul>
            <li><p class="pharagraf">32m (105ft)</p></li>
            <li><p class="pharagraf">SanLorenzo</p></li>
            <li><p class="pharagraf">2019</p></li>
            <li><p class="pharagraf">11 in 5 cabins</p></li>
            <li><p class="pharagraf">€7,800,000</p></li>
        </ul>
    </div>
</div>
    </div></li>
    <li><div class="yacht">
        <div class="picture"><img srcset="./img/yachts/yachts-img-8@1x.png 1x, ./img/yachts/yachts-img-8@2x.png 2x" src="./img/yachts/yachts-img-8@1x.png" alt="STORM" width="322" height="268"></div>
        <div class="name-type">
        <p class="name">STORM</p>
        <p class="yacht-type">LUXURY YAHTS</p>
    </div>
    <div class="charact">
    <div class="charact1">
        <ul>
            <li><p class="pharagraf">LENGTH</p></li>
            <li><p class="pharagraf">SHIPYARD</p></li>
            <li><p class="pharagraf">BUILT</p></li>
            <li><p class="pharagraf">GUESTS</p></li>
            <li><p class="pharagraf">PRICE</p></li>
        </ul>
    </div>
    <div class="charact2">
        <ul>
            <li><p class="pharagraf">32m (103ft)</p></li>
            <li><p class="pharagraf">Overmarine</p></li>
            <li><p class="pharagraf">2005 / 2022 (refitted)</p></li>
            <li><p class="pharagraf">9 in 4 cabins</p></li>
            <li><p class="pharagraf">€2,900,000</p></li>
        </ul>
    </div>
</div>
    </div></li>
    <li><div class="yacht">
        <div class="picture"><img srcset="./img/yachts/yachts-img-9@1x.png 1x, ./img/yachts/yachts-img-9@2x.png 2x" src="./img/yachts/yachts-img-9@1x.png" alt="COLLU" width="322" height="268"></div>
        <div class="name-type">
        <p class="name">COLLU</p>
        <p class="yacht-type">LUXURY YAHTS</p>
    </div>
    <div class="charact">
    <div class="charact1">
        <ul>
            <li><p class="pharagraf">LENGTH</p></li>
            <li><p class="pharagraf">SHIPYARD</p></li>
            <li><p class="pharagraf">BUILT</p></li>
            <li><p class="pharagraf">GUESTS</p></li>
            <li><p class="pharagraf">PRICE</p></li>
        </ul>
    </div>
    <div class="charact2">
        <ul>
            <li><p class="pharagraf">29m (96ft)</p></li>
            <li><p class="pharagraf">Ferretti</p></li>
            <li><p class="pharagraf">2014</p></li>
            <li><p class="pharagraf">10 in 5 cabins</p></li>
            <li><p class="pharagraf">$4,300,000</p></li>
        </ul>
    </div>
</div>
    </div></li>
    </ul>
        </div>
                    </div>
                </div>
            </div>
            <div class="slider-arrows">
                <div class="swiper-button-prev">
                    <button class="arrow-button"><svg class="arrow" width="18" height="8.66"><use href="./img/icons.svg#arrow-left"></use></svg></button></div>
                    <div class="swiper-button-next">
                    <button class="arrow-button"><svg class="arrow" width="18" height="8.66"><use href="./img/icons.svg#arrow-right"></use></svg></button></div>
            </div>
    </div>
    </section>
    
    