:root {
  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */

  --main-background-color: rgba(17, 19, 31, 1);
  --secondary-background-color: rgba(31, 33, 45, 1);
  --main-font-color: rgba(246, 245, 239, 1);
  --accent-color: #bec7c2;
  --button-lightgreen-color: rgba(147, 171, 174, 1);
  --button-lightgreen-hover: rgba(136, 179, 185, 1);
}

/*------------About-------------*/
.container {
  min-width: 320px;
  max-width: 375px;

  margin-left: auto;
  margin-right: auto;

  padding-left: 20px;
  padding-right: 20px;
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 763px;
  }
  .container-text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .container-item {
    max-width: 514px;
    margin-left: 0;
    margin-bottom: 32px;
    font-size: 32px;
  }
  .section-img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .item-text {
    min-width: 168px;
  }
  .item-list {
    margin-right: 0;
    margin-bottom: 64px;
    gap: 32px;
    max-width: 400px;
  }
  .text {
    font-size: 16px;
  }
  .img-3 {
    position: absolute;
    bottom: -156px;
    right: inherit;
  }

  /*
  .img-2 {
    width: 335px;
    padding-left: 20px;
    padding-right: 20px;
  }*/
}

/* Desktop base styles */

@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1248px;
  }
  .container-text {
    flex-direction: row;
    justify-content: space-between;
  }
  .text {
    margin: 0;
  }
  .img-1 {
    position: absolute;
    max-width: 308px;
    top: 50%;
    left: 0;
  }
  .img-3 {
    bottom: -220px;
    left: 28%;
  }
  /*
  .item-list {
    display: flex;
    flex-wrap: wrap;
    width: calc((100% - 50px) / 3);
  }*/
  .about-item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
  }
}
.section-about {
  margin: 0 auto;
  padding-bottom: 146px;
}
.container-text {
  max-width: 335px;
  display: flex;
  flex-direction: column;
}

.container-item {
  color: var(--white-color);
  font-weight: 500;
  font-style: normal;
  margin: auto auto 40px;
  max-width: 335px;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: -0.045em;

  max-width: 100%;
  width: 514px;
  height: 145px;
}
.item-list {
  display: flex;
  gap: 14px;
  max-width: 335px;
  margin: auto auto 40px;
}
.item-text {
  display: block;
  align-items: flex-start;
  flex-direction: column;
  width: calc((100% - 50px) / 2);
}
.text-decorative {
  color: var(--accent-color);

  font-weight: 500;
  font-style: italic;
}
.text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.02em;
  font-style: normal;
  max-width: 100%;
  color: var(--white-color);
}
/*----------Section-IMG---------*/
.img-2 {
  width: 533px;
  height: 473px;
  padding-left: 20px;
  padding-right: 20px;
}
.img-1 {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0.25));
  width: 308px;
  height: 289px;
} /*
.img-3 {
  width: 260px;
  height: 244px;
  padding-left: 20px;
  padding-right: 20px;
}*/
.about-img-list {
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 24px;
}
.img-3 {
  margin-left: auto;
  position: absolute;
  z-index: -1;
  border-radius: 24px;
  box-shadow: 0 4px 4px #00000040;
}
