.container-item {
  color: var(--white-color);
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: -0.045em;
  margin-bottom: 40px;
  max-width: 335px;

  @media screen and (min-width: 768px) {
    font-size: 32px;
    max-width: 480px;
    margin-bottom: 32px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 0px;
  }
}

.item-list {
  display: flex;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    justify-content: flex-end;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 0px;
  }
}

.container-text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    justify-content: flex-end;
  }

  @media screen and (min-width: 1280px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.section-img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1280px) {
  }
}

.item-text {
  width: 185px;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1280px) {
  }
}

.item-text:not(:last-child) {
  margin-right: 32px;
}

.text {
  font-size: 16px;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1280px) {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: -0.02em;
    font-style: normal;
    max-width: 100%;
    color: var(--white-color);
    margin: 0;
  }
}

.about-img-list {
  flex-direction: row;
  justify-content: start;
  gap: 32px;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1280px) {
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 24px;
  }
}

.about-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1280px) {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 64px;
  }
}

.section-about {
  margin: 0 auto;
  padding-bottom: 146px;
}

.item-text {
  display: block;
  align-items: flex-start;
  flex-direction: column;
  max-width: 160px;
}

.text-decorative {
  color: #bec7c2;

  font-weight: 500;
  font-style: italic;
}

.img-1 {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 335px;
  height: 289px;
}

.about-img-container {
  display: flex;
  position: relative;
  justify-content: flex-start;
  gap: 32px;
  margin-bottom: -260px;
}
.about-img-left {
  margin-top: 253px;
}

.about-img-left {
  display: none;

  @media screen and (min-width: 768px) {
    display: none;
  }

  @media screen and (min-width: 1280px) {
    display: block;
  }
}

.img-2 {
  max-width: 100%;

  @media screen and (min-width: 1280px) {
    max-width: 533px;
  }
}

.img-3 {
  margin-top: 32px;
  z-index: -2;
}

.about-img-right .img-3 {
  float: left;
  margin-top: 24px;
  float: right;

  @media screen and (min-width: 768px) {
    margin-top: 232px;
    float: left;
    margin-left: 32px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 32px;
    margin-left: 0;
  }
}

.about-img-right .img-1 {
  width: 100%;
}

.img-3 {
  width: auto;
  margin-top: 24px;
  float: right;
}

.about-img-right .img-4 {
  width: 100%;
  margin-top: 24px;

  @media screen and (min-width: 768px) {
    display: block;
    margin-top: 32px;
    float: left;
    width: auto;
  }

  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.img-4 {
  display: block;
}
