.page-hero {
  padding-top: 40px;
}

@media screen and (min-width: 768px) {
  .page-hero {
<<<<<<< Updated upstream
    padding-top: 62px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-container {
    display: flex;
    align-items: center;
=======
    padding-top: 64px;
>>>>>>> Stashed changes
  }
}

.hero-title {
<<<<<<< Updated upstream
=======
  color: #f6f5ef;
>>>>>>> Stashed changes
  font-size: 36px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -1.62px;
  margin-bottom: 14px;
}

@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 60px;
    letter-spacing: -2.7px;
    margin-bottom: 16px;
  }
}

.hero-gradient {
<<<<<<< Updated upstream
  background-image: var(--accent-color);
  -webkit-background-clip: text;
  color: transparent;
}

.hero-subtitle {
=======
  font-style: italic;
  color: var(--accent-color);
}
.hero-subtitle {
  color: #f6f5ef;
>>>>>>> Stashed changes
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.28px;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .hero-subtitle {
    font-size: 16px;
    letter-spacing: -0.32px;
    margin-bottom: 32px;
  }
}

.hero-btn-wrapper {
  gap: 8px;
}

@media screen and (min-width: 768px) {
  .hero-btn-wrapper {
    gap: 11px;
  }
}

.hero-start-btn,
.hero-explore-btn {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.63px;
  border-radius: 60px;
<<<<<<< Updated upstream
  border: none;
  padding: 14px 28px;
  color: #f6f5ef;
  margin-bottom: 1.89px;
}

@media screen and (min-width: 768px) {
  .hero-start-btn,
  .hero-explore-btn {
    margin-bottom: 10.64px;
  }
=======
  padding: 14px 28px;
  color: #f6f5ef;
  border: none;
>>>>>>> Stashed changes
}

.hero-start-btn {
  background: var(--button-lightgreen-color);
}
<<<<<<< Updated upstream
.hero-explore-btn {
  background: var(--main-background-color);
  border: 1px solid var(--white, #f6f5ef);
=======

.hero-explore-btn {
  border: 1px solid #f6f5ef;
  padding: 14px 28px;
  background: var(--main-background-color);
}

@media screen and (min-width: 768px) {
  .hero-start-btn {
    font-size: 18px;
    letter-spacing: -0.81px;
  }
}

@media screen and (min-width: 768px) {
  .hero-explore-btn {
    font-size: 18px;
    letter-spacing: -0.81px;
  }
>>>>>>> Stashed changes
}

.hero-start-btn:hover,
.hero-start-btn:focus {
  background: var(--button-lightgreen-hover);
}
.hero-explore-btn:hover,
.hero-explore-btn:focus {
  background: var(--secondary-background-color);
<<<<<<< Updated upstream
}

=======
  color: #93abae;
}
>>>>>>> Stashed changes
.hero-pictures-wrapper {
}
