/* .reviews-section {
  margin-top: 80px;
}
@media only screen and (min-width: 768px) {
  .reviews-section {
    margin-top: 100px;
  }
}
@media only screen and (min-width: 1280px) {
  .reviews-section {
    margin-top: 164px;
  }
}

.reviews-box {
  margin-bottom: 40px;
}

@media only screen and (min-width: 1280px) {
  .reviews-box {
    display: flex;
    justify-content: space-between;
    display: flex;
  }
}

.reviews-title {
  font-family: DM Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1.08px;
  color: var(--main-font-color);
  margin-bottom: 24px;
}

@media only screen and (min-width: 768px) {
  .reviews-title {
    width: 497px;
    margin: 0;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: -1.44px;
  }
}

.reviews-page {
  max-width: 335px;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -0.28px;
}

@media only screen and (min-width: 768px) {
  .reviews-page {
    margin-top: 32px;
    margin-left: auto;
    width: 273px;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -0.32px;
  }
}

@media only screen and (min-width: 1280px) {
  .reviews-page {
    margin-top: 0;
  }
}

.yacht-title-item {
  font-style: italic;
  background-image: var(--accent-color);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.reviews-block {
}

@media only screen and (min-width: 768px) {
  .reviews-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  }
}

@media only screen and (min-width: 1280px) {
  .reviews-block {
    gap: 32px;
  }
}

.reviews-item {

  min-width: 280px;

  height: 208px;
  padding: 24px;
  margin-bottom: 14px;
  border-radius: 24px;
  background-color: var(--secondary-background-color);
}


@media only screen and (max-width: 374.98px) {
  .reviews-item {
    padding: 15px;
  }
}


@media only screen and (min-width: 768px) {
  .reviews-item {
    margin-bottom: 32px;
    width: 344px;
    height: 266px;
  }
}

@media only screen and (min-width: 1280px) {
  .reviews-item {
    padding: 32px;
    margin-bottom: 164px;
    width: 384px;
    height: 282px;
  }
}

.john-item {
}

.reviews-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 18px;
}

@media only screen and (max-width: 767.98px) {
  .reviews-img {
    width: 48px;
  }
}

@media only screen and (min-width: 768px) {
  .reviews-img {
    margin-bottom: 24px;
  }
}

.reviews-subtitle {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -0.72px;
  margin-bottom: 8px;
}

@media only screen and (min-width: 768px) {
  .reviews-subtitle {
    font-size: 18px;
    letter-spacing: -0.81px;
  }
}

.reviews-text {
  font-size: 12px;
  line-height: 140%;
  letter-spacing: -0.24px;
  text-align: center;
  color: var(--main-font-color);
  width: 100%;
}

@media only screen and (max-width: 767.98px) {
  .victoria-item {
    display: none;
  }
}

@media only screen and (max-width: 1279.98px) {
  .igor-item {
    display: none;
  }
}
/* buller*/

/* .reviews-buller {
  display: flex;
  justify-content: center;

  margin-bottom: 80px;
}

@media only screen and (min-width: 768px) {

  .reviews-buller {


    margin-bottom: 100px;
  }
}

@media only screen and (min-width: 1280px) {

  .reviews-buller {
    display: none;
  }
}
.reviews-buller-list {
  display: flex;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
}
.reviews-buller-item {
  flex-basis: calc((100% - 20px) / 3);
}
  */
